{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href={% static "style.css" %}>
</head>
<body>

    
    <form method="post">
        {% csrf_token %}
        <input type="text" placeholder="City1" name="city1">
        <input type="text" placeholder="City2" name="city2">
        <button type="submit">Compare Weather</button>
    </form>

    <div class="comparison_container">
        {% if weather_data1 %}
            <div class="city_container">
                {% include "weather_app/weather.html" with weather_data=weather_data1 daily_forecast=daily_forecast1 %}
            </div>
        {% endif %}

        {% if weather_data2 %}
            <div class="city_container">
                {% include "weather_app/weather.html" with weather_data=weather_data2 daily_forecast=daily_forecast2 %}
            </div>
        {% endif %}
    </div>
</body>
</html>